body {
    font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*album arwork style*/
.artwork {
    max-width: 300px;
    width: 100%;
    border-radius: 7px;
    margin-right: 7px;
}

/*album metadata styles*/
.album-metadata h1 {
    color: rgb(235, 235, 235);
    font-size: 30px;

    margin-bottom: 0;
}
.link-to {
    color: #4e73df;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    transition: 0.1s ease all;
}
.link-to:hover {
    text-decoration: none;
    color: #6f42c1;
}
.album-metadata h3 {
    font-size: 20px;
    color: #EBEBEB;
}
.album-metadata h6 {
    font-size: 14px;
}

/*add music button*/
.add-music-button {
    color: #4e73df;
    transition: 0.1s ease all;
    font-size: 16px;
}
.add-music-button:hover {
    text-decoration: none;
    color: #6f42c1;
}

/*album tracklist styling*/
.album-tracklist {
    border-radius: 10px;
}
.album-tracklist ul{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.album-tracklist ul li {
    padding-top: 12px;
    min-height: 50px;
    padding-bottom: 12px;
    color: rgb(235, 235, 235);
    border-bottom: 1px solid darkgray;
}

/*playlist list item text styles*/
.item h1 {
    line-height: 16px;
    font-size: 18px;

}
.item p {
    line-height: 10px;
    font-size: 12px;
}
.item a {
    padding-left: 12px;
    float: right;
}

/*remove border from last track in list*/
#end-tracklist {
    border-bottom: none;
}


