body {
    font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*album arwork style*/
.artwork {
    max-width: 300px;
    width: 100%;
    border-radius: 7px;
    margin-right: 7px;
}

/*album metadata styles*/
.album-metadata h1 {
    color: #EBEBEB;
    font-size: 30px;

    margin-bottom: 0;
}
.link-to {
    color: #4e73df;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    transition: 0.1s ease all;
}
.link-to:hover {
    text-decoration: none;
    color: #6f42c1;
}
.album-metadata h2 {
    font-size: 26px;
}
.album-metadata h6 {
    font-size: 14px;
}

/*add music button*/
.add-music-button {
    color: #4e73df;
    transition: 0.1s ease all;
    font-size: 16px;
}
.add-music-button:hover {
    text-decoration: none;
    color: #6f42c1;
}

/*album tracklist styling*/
.album-tracklist {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    margin-left: 0;
    padding: 0;
}
.album-song {
    height: 50px;
    border-bottom: 1px solid #acacac;
    padding-left: 5px;
    padding-right: 10px;
}
.album-song:last-child {
    border-bottom: none;
}
.a-song-info {

    margin: 0;
    color: #EBEBEB;
}
.a-song-info h1 {
    line-height: 50px;
    font-size: 18px;
}

/*playlist list item text styles*/
.playlist-song {
    height: 55px;
    border-bottom: 1px solid #acacac;
    padding-left: 5px;
    padding-right: 10px;
    margin-left: 0;
}
.playlist-song:last-child {
    border-bottom: none;
}

.dropdown ul {
    height: 50px;
}

.p-song-info {
    padding-top: 10px;
    margin: 0;
    color: #EBEBEB;
}
.p-song-info h1 {
    line-height: 16px;
    font-size: 18px;
}
.p-song-info p {
    line-height: 10px;
    font-size: 12px;
}
.p-song-info a {
    padding-left: 12px;
    float: right;
}



